body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}


#my-canvas {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.text-box {
  padding-right: 10%;
  padding-bottom: 10%;
  color: antiquewhite;
  font-family: 'Aboreto', cursive;
}

.text-box h1 {
  font-size: 96px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.text-box h3 {
  margin-top: 0;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.2);
}

.text-box a {
  padding-left: 10px;
  font-size: 12px;
}

.text-box .typewriter {
  font-size: 18px;
  padding-left: 10px;
}


/* mobile */
@media only screen and (max-width: 560px) {
  .text-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

  .text-box h1 {
    font-size: 36px;
    text-align: center;
  }

  .text-box .typewriter {
    padding-left: 0px;
    font-size: 10px;
    text-align: center;
  }

  #my-canvas {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}